/* ============================================ */
/* ============= variables ==================== */
/* ============================================ */

  $wite-zero: #FFF;
  $black-zero: #000;
  $mango: #FF6E30;
  $brown: #BC572B;
  $orange: #CE4307;
  $red: #ee2f2f;
  $red-light: #FFD4C1;
  $grey-smoke: #e9d9d9;
  $grey-light: rgb(202, 195, 195);
  $grey-medium: rgb(167, 157, 157);
  $grey-bold: rgb(124, 119, 119);
  $gold-light: rgb(238, 218, 188);
  $black-medium: #202020;
  $body-color: rgb(206, 199, 199);
